name: Deploy Infrastructure Only

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'infrastructure/**'

jobs:
  deploy-infra:
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: infrastructure/package-lock.json
        
      - name: Install Frontend Dependencies
        run: |
          cd frontend
          npm install
      
      - name: Build Frontend
        run: |
          cd frontend
          npm run build 
      - name: Install CDK Dependencies
        run: |
          cd infrastructure
          npm install
      
      - name: Deploy Infrastructure
        run: |
          cd infrastructure
          npx cdk deploy --require-approval never
